<div class="playlists-container">
  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>
  <ng-container *ngIf="playlists">
    <mat-card
      class="c-pointer"
      *ngFor="let playlist of playlists"
      (click)="goToPlaylist(playlist)"
    >
      <mat-card-header>
        <mat-card-title
          #playlistName
          class="elipsis"
          [matTooltip]="
            isTextOverflowing(playlistName) ? playlist.name : null!
          "
          >{{ playlist.name }}</mat-card-title
        >
        <mat-card-subtitle
          >Tracks: {{ playlist.tracks.total }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        *ngIf="playlist.images[0]"
        mat-card-image
        [src]="playlist.images[0].url"
      />
    </mat-card>
  </ng-container>
</div>
