<div class="playlists-container">
  <ng-container *ngIf="playlists">
    <mat-card
      class="c-pointer"
      *ngFor="let playlist of playlists"
      (click)="goToPlaylist(playlist)"
    >
      <spotify-data-card-header
        [title]="playlist.name"
        [subTitle]="'Tracks: ' + playlist.tracks.total"
      ></spotify-data-card-header>
      <img
        *ngIf="playlist.images[0]"
        mat-card-image
        [src]="playlist.images[0].url"
      />
    </mat-card>
  </ng-container>
</div>
