.home-container {
  width: 100%;
}

.card-item {
  width: 225px;
  height: 302px;
}

.elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
  display: block;
  overflow: hidden;
}

.carousel-container {
  padding: 0;
  margin: 16px;
}

.carousel-header {
  padding: 16px 0 0 16px;
  display: flex;
  align-items: center;
}
