<div class="home-container">
  <mat-card class="carousel-container">
    <mat-card-header class="carousel-header">
      <mat-icon
        mat-card-avatar
        class="c-pointer"
        routerLink="/artists"
        >person</mat-icon
      >
      <mat-card-title class="c-pointer" routerLink="/artists"
        >Artists</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p-carousel
        [value]="followedArtists"
        [numVisible]="5"
        [numScroll]="5"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-artist pTemplate="item">
          <mat-card
            class="c-pointer card-item"
            (click)="goToArtist(artist)"
          >
            <mat-card-header>
              <mat-card-title
                #artistName
                class="elipsis"
                [matTooltip]="
                  isTextOverflowing(artistName) ? artist.name : null!
                "
                >{{ artist.name }}</mat-card-title
              >
              <mat-card-subtitle
                >Followers:
                {{ artist.followers.total }}</mat-card-subtitle
              >
            </mat-card-header>
            <img
              *ngIf="artist.images[0]"
              mat-card-image
              [src]="artist.images[0].url"
            />
          </mat-card>
        </ng-template>
      </p-carousel>
    </mat-card-content>
  </mat-card>
  <mat-card class="carousel-container">
    <mat-card-header class="carousel-header">
      <mat-icon mat-card-avatar class="c-pointer" routerLink="/albums"
        >album</mat-icon
      >
      <mat-card-title class="c-pointer" routerLink="/albums"
        >Albums</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p-carousel
        [value]="savedAlbums"
        [numVisible]="5"
        [numScroll]="5"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-albumItem pTemplate="item">
          <mat-card class="c-pointer card-item">
            <mat-card-header>
              <mat-card-title
                #albumName
                class="elipsis"
                [matTooltip]="
                  isTextOverflowing(albumName)
                    ? albumItem.album.name
                    : null!
                "
                >{{ albumItem.album.name }}</mat-card-title
              >
              <mat-card-subtitle
                #artists
                class="elipsis"
                [matTooltip]="
                  isTextOverflowing(artists)
                    ? getArtistNames(albumItem.album.artists)
                    : null!
                "
              >
                {{
                  getArtistNames(albumItem.album.artists)
                }}</mat-card-subtitle
              >
            </mat-card-header>
            <img
              *ngIf="albumItem.album.images[0]"
              mat-card-image
              [src]="albumItem.album.images[0].url"
            />
          </mat-card>
        </ng-template>
      </p-carousel>
    </mat-card-content>
  </mat-card>
</div>
