.artists-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  width: 225px;
  height: 276px;
  margin: 16px;
}

.elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
  display: block;
  overflow: hidden;
}
