<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar
    color="primary"
    class="toolbar primary-lighter-border-inset"
  >
    <div class="toolbar-toggle-name">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="toolbar-route-title">
      <h1>{{ toolBarTitle }}</h1>
    </div>
    <div class="toolbar-search-settings">
      <!-- <mat-form-field class="mr-15" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-progress-bar
    *ngIf="loadingService.loading | loadingPipe"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="home"
          routerLinkActive="active-route"
          ><mat-icon class="mr-10">home</mat-icon>Home</a
        >
        <a
          mat-list-item
          routerLink="artists"
          routerLinkActive="active-route"
          ><mat-icon class="mr-10">person</mat-icon>Artists</a
        >
        <a
          mat-list-item
          routerLink="albums"
          routerLinkActive="active-route"
          ><mat-icon class="mr-10">album</mat-icon>Albums</a
        >
        <a
          mat-list-item
          routerLink="playlists"
          routerLinkActive="active-route"
          ><mat-icon class="mr-10">featured_play_list</mat-icon
          >Playlists</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
