<div class="albums-container">
  <ng-container *ngIf="albumItems">
    <mat-card
      class="c-pointer"
      *ngFor="let albumItem of albumItems"
      (click)="goToAlbum(albumItem)"
    >
      <spotify-data-card-header
        [title]="albumItem.album.name"
        [subTitle]="getArtistNames(albumItem.album.artists)"
      ></spotify-data-card-header>
      <img
        *ngIf="albumItem.album.images[0]"
        mat-card-image
        [src]="albumItem.album.images[0].url"
      />
    </mat-card>
  </ng-container>
</div>
